@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span>image 1</span>
    <span>image 2</span>
    <span>image 3</span>
    <span>image 4</span>
    <span>image 5</span>
</div>
